<p><%= @user.username %></p>
<p><%= @follower_count %> followers</p>
<p><%= @followee_count %> following</p>

<% @zwipps.each do |z| %>
  <p>
    <%= link_to z.user.username, user_path(z.user) %>
    <%= link_to z.text, zwipp_path(z) %>
  </p>
<% end %>
